/*.feature_product_area .container:hover {
    transform: scale(1.2,1.2);
    transition: ease-in 0.20s;
    -moz-transition: ease-in 0.20s;
    -webkit-transition: ease-in 0.20s;
}*/



.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit
}

.h1,
h1 {
    font-size: 2.5rem
}

.h2,
h2 {
    font-size: 2rem
}

.h3,
h3 {
    font-size: 1.75rem
}

.h4,
h4 {
    font-size: 1.5rem
}

.h5,
h5 {
    font-size: 1.25rem
}

.h6,
h6 {
    font-size: 1rem
}
.main_title h1 {
    position: relative;
    top: 109px;
    color: #1E7F34 !important;
    font-size: 32px;
    margin-bottom: 30px;
}
h1 {
    font-weight: 800;
    font-size: 36px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat",sans-serif;
    color: #272727;
}
.business_story .aboutus_img img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    box-sizing: border-box;
    margin: auto 0;
}
.container{
    padding-bottom:10px;
}
.business_story .aboutus_content {
    text-align: justify;
}
.container .justify-content-center .main_title h1{
    top:30px;
}
.mission{
    padding-bottom:20px;
}

.mission_title h6 {
    color: #1E7F34;
    text-align: left;
    font-size: 1rem;
    font-weight:600;
}
.mission_content {
    text-align: justify;
}
.mission_icon img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    box-sizing: border-box;
    margin: auto 0;
}
@media (max-width:576px) {
    .aboutus_content h5 {
        font-size: 0.75rem;
    }
    .aboutus_content h6 {
        font-size: 0.75rem;
    }
   .justify-content-center .main_title h1{font-size:1.5rem}

    .mission_content h6{
        font-size:0.75rem;
    }
    .mission_title h6{
        font-size:1rem;
        margin-bottom:0rem;
    }

   
}

