/*.feature_product_area .container:hover {
    transform: scale(1.2,1.2);
    transition: ease-in 0.20s;
    -moz-transition: ease-in 0.20s;
    -webkit-transition: ease-in 0.20s;
}*/
.business_story .aboutus_img img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    box-sizing: border-box;
    margin: auto 0;
}
.container{
    padding-bottom:10px;
}
.business_story .aboutus_content {
    text-align: justify;
}
.container .justify-content-center .main_title h1{
    top:30px;
}
.mission{
    padding-bottom:20px;
}

    .mission_title h4 {
        color: #1E7F34;
        text-align:left;
    }
.mission_content {
    text-align: justify;
}
.mission_icon img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    box-sizing: border-box;
    margin: auto 0;
}

